[Unit]
Description=VBox Virtual Machine %i Service
Requires=systemd-modules-load.service
After=systemd-modules-load.service vboxdrv.service

[Service]
User=nobody
Group=vboxusers
ExecStart=/usr/bin/VBoxHeadless -s %i
ExecStop=/usr/bin/VBoxManage controlvm %i acpipowerbutton
KillMode=process
KillSignal=SIGWINCH
TimeoutStopSec=40

[Install]
WantedBy=multi-user.target
